@model LAB.ViewModels.IngredientsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <form method="get">
        <div class="form-inline form-group">
            <label class="control-label">Готовая Продукция: </label>
            <select asp-items="Model.FinalProducts" name="finprod" value="@Model.SelectedProduct" class="form-control"></select>
            @*@Html.DropDownListFor(m=>m.SelectedProduct, Model.FinalProducts, new { @class = "form-control" })*@
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("NameOfRaw")
            </th>
            <th>
                @Html.DisplayName("Finished Products Name") 
            </th>
            <
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raws.NameOfRaw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishedProducts.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
